#loadingProgressBarContainer {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 0.5rem;
    overflow: hidden;
    z-index: 99999;
}

#loadingProgressBar {
    width: 0%;
    height: 0.5rem;
}
